<div class="container-fluid">

    <div class="row" style="height:8vh;background:#f5f5f5;"></div>

    <div class="row justify-content-center align-items-center" style="height: 84vh;background:#f5f5f5;">
        <div class="row flex-column ">
            <div class="col"
                style="font-size: 201px;font-weight: bolder;  text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;">Oops!
            </div>
            <div class="col d-flex justify-content-center align-items-center"
                style="font-weight: bold;font-size: 30px;">404-PAGE
                NOT FOUND</div>
            <div class="col d-flex justify-content-center align-items-center">The Page you are looking for might
                have been
                removed <br>
                had its name changed or its
                temporarily unavailable</div>

            <div class="col d-flex justify-content-center align-items-center mt-4">
                <button type="button" class="btn btn-info" style="width:300px;font-size: 20px;border-radius:25px;"><a
                        routerLink="/Login" style="color:whitesmoke;text-decoration: none;">Go
                        To Login Page</a></button>
            </div>
        </div>

    </div>

    <div class="row" style="height:8vh;background:#f5f5f5;"></div>

</div>