<body>
    <div class="container-fluid m-2 ml-2 mr-2">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
                <!-- ----------------------------------- Block 1 ------------------------------------------------->
                <div class="row">

                    <div class="col-6" style="
                  height: 500px;
                  align-items: center;
                  justify-content: center;
                  display: flex;
                  ">
                        <img src="assets/image/1.jpg"
                            style="height: 350px; border: solid 4px; box-shadow: 10px 10px 5px #aaaaaa;" />
                    </div>

                    <div class=" col-6" style="height: 400px ;">
                        <div style="
                    border: solid 5px gray;
                    height: 350px;
                    width: 450px;
                    margin-top: 75px;
                  ">
                            <h3 style="text-align: center;background-color: gray;color:white" class="mt-4">King Size
                                Room
                            </h3>
                            <ul style="margin-top: 30px; color:black; font-size: 18px;list-style-type:square">
                                <li>Without TV</li>
                                <li>Without AC</li>
                                <li>Number of Persons -: 7</li>
                                <li>Maxmimum Child -: 3</li>
                                <li>Remaning rooms -: 1</li>
                            </ul>

                            <h5 style="margin-left: 20px;font-weight: bold;">₹ 3000/ Night</h5> <br>
                            <input class="btn btn-primary" type="Button" value="Book" style="margin-left: 20px"
                                (click)="gotopage('Home/BookingDetails')" />
                        </div>
                    </div>
                </div>

                <!-- --------------------------------------------- End --------------------------------------------------->

                <!-- ----------------------------------------------Block 2 ----------------------------------------------->
                <div class="row">

                    <div class="col-6" style="
            height: 350px;
            align-items: center;
            justify-content: center;
            display: flex;
           ">
                        <img src="assets/image/2.jpg"
                            style="height: 350px;  border: solid 5px;box-shadow: 10px 10px 5px #aaaaaa;" />
                    </div>

                    <div class="col-6" style="height: 400px; ">
                        <div style="
              border: solid 5px gray;
              height: 350px;
              width: 450px;
      
             
            ">
                            <h3 style="text-align: center;background-color: gray;color:white" class=" mt-4">Twin Room
                            </h3>
                            <ul style="margin-top: 30px; color: black; font-size: 18px;list-style-type:square">
                                <li>Without TV</li>
                                <li>With AC</li>
                                <li>Number of Persons -: 4</li>
                                <li>Maxmimum Child -: 1</li>
                                <li>Remaning rooms -: 1</li>
                            </ul>

                            <h5 style="margin-left: 20px;font-weight: bold;">₹ 4000/ Night</h5> <br>
                            <input class="btn btn-primary" type="Button" value="Book" style="margin-left: 20px"
                                (click)="gotopage('Home/BookingDetails')" />
                        </div>
                    </div>
                </div>


                <!-- -------------------------------------------End ------------------------------------------------------  -->
                <!-- -------------------------------------------Block 3 ----------------------------------------------------->
                <div class="row">

                    <div class="col-6" style="
            height: 350px;
            align-items: center;
            justify-content: center;
            display: flex;
            ">
                        <img src="assets/image/3.jpg"
                            style="height: 350px; border: solid 5px;box-shadow: 10px 10px 5px #aaaaaa;" />
                    </div>

                    <div class="col-6" style="height: 400px;  ">
                        <div style="
              border: solid 5px gray;
              height: 350px;
              width: 450px;">
                            <h3 style="text-align: center;background-color: gray;color:white" class="mt-4">Superior
                                Double
                                Room</h3>
                            <ul style="margin-top: 30px; color: black; font-size: 18px;list-style-type:square">
                                <li>With TV</li>
                                <li>With AC</li>
                                <li>Number of Persons -: 5</li>
                                <li>Maxmimum Child -: 2</li>
                                <li>Remaning rooms -: 1</li>
                            </ul>

                            <h5 style="margin-left: 20px;font-weight: bold;">₹ 6000/ Night</h5> <br>
                            <input class="btn btn-primary" type="Button" value="Book" style="margin-left: 20px"
                                (click)="gotopage('Home/BookingDetails')" />
                        </div>
                    </div>
                </div>


                <!-- --------------------------------------------End ------------------------------------------------------->
                <!-- -------------------------------------------Block 4 ---------------------------------------------------->
                <div class="row">

                    <div class="col-6" style="
            height: 350px;
            align-items: center;
            justify-content: center;
            display: flex;">
                        <img src="assets/image/4.jpg"
                            style="height: 350px; border: solid 5px;box-shadow: 10px 10px 5px #aaaaaa;" />
                    </div>

                    <div class="col-6" style="height: 500px">
                        <div style="
              border: solid 5px gray;
              height: 350px;
              width: 450px;">
                            <h3 style="text-align: center;background-color: gray;color:white" class="mt-4">Classic
                                Double
                                Room</h3>
                            <ul style="margin-top: 30px; color: black; font-size: 18px;list-style-type:square">
                                <li>With TV</li>
                                <li>Without AC</li>
                                <li>Number of Persons -: 6</li>
                                <li>Maxmimum Child -: 3</li>
                                <li>Remaning rooms -: 1</li>
                            </ul>

                            <h5 style="margin-left: 20px;font-weight: bold;">₹ 5000/ Night</h5> <br>
                            <input class="btn btn-primary" type="Button" value="Book" style="margin-left: 20px"
                                (click)="gotopage('Home/BookingDetails')" />
                        </div>
                    </div>
                </div>


                <!-- ---------------------------------------------End ----------------------------------------------------->

            </div>
            <div class="col-1"></div>
        </div>
    </div>
</body>