<!-- <div class="container-fluid">
  <div class="row bg-dark align-items-center" style="height:8vh">

    <div class="col text-info h2" style="font-weight: bold;">

      OYO Room App
    </div>
    <div class="col text-light d-flex justify-content-end align-items-center">
      <button class="btn btn-secondary btn-sm mr-2" (click)="gotopage('AboutUs')" style="font-weight: bold;">About
        Us</button>
      <button class="btn btn-secondary btn-sm mr-2" (click)="gotopage('ContactUs')" style="font-weight: bold;">Contact
        Us</button>
      <button class="btn btn-secondary btn-sm mr-2" (click)="gotopage('SignUp')" style="font-weight: bold;">Sign
        Up</button>
      <button class="btn btn-secondary btn-sm mr-2" (click)="gotopage('Login')"
        style="font-weight: bold;">Login</button>
    </div>


  </div>

</div> -->
<!-- <div class="row bg-info" style="height: 92vh;">
    <div class="col">
      <img src="assets/image/room3.jpg" alt="" style="object-fit:cover">
    </div>
  </div> -->


<router-outlet></router-outlet>